.teste{
    width: 300px;
    font-size: 16px;
}

.search-input{
    max-width: 249px
}

.menu-total{
    justify-content: center;
}

.mobile-menu{
    display: none;
}

.img-logo{
    max-width:200px;
}


   @media (max-width:1399px){

       .containerTwo{
           display: flex;
           width: 100%;

       }
       .input-item{

           width: 100%;
       }
       .form-item{
           width: 100%;

       }
       .search-input{
           display: flex;
           align-items: center;
           justify-content: center;

           max-width: 100%;
       }
       .dialog-responsive{
           padding: 20px;

       }



   }

   @media (max-width:718px){
       .dropMenus{
           width: 200px;
       }


       .dialog-responsive{


       }

       .dialog-responsive * {
           font-size: 90%;
       }


   }

   @media (max-width:680px){
       .dropMenus{
           width: 200px;
       }

       .menu-total{
        justify-content: space-between;
        padding: 0px 15px;
       }
       /* .dialog-responsive * {
           border: 1px solid rgb(255, 0, 191);
           font-size: 75%;
       } */
        .mobile-menu{
            display: block;

        }

        .dialog-responsive{
            display: none;
       }


       .portalDaTransferencia{
        width: 100%;

       }


   }

   @media (max-width:600px){
       .dropMenus{
           width: 200px;
       }


       .dialog-responsive * {

           font-size: 80%;
       }

       .portalDaTransferencia{
         width: 100%;
         font-size: 100%;
       }

   }

   @media (max-width:514px){
       .dropMenus{
           width: 200px;
       }
       .containerTwo{
           display: flex;
           width: 100%;

       }
       .dialog-responsive{


       }
       .dialog-responsive * {

           font-size: 80%;

       }


   }

   @media (max-width:500px){
       .dialog-responsive * {
           font-size: 75%;

       }
   }


   @media (max-width:448px){
       .dialog-responsive * {
           font-size: 72%;

       }

       .portalDaTransferencia{
            display: flex;
            align-items: center;
            justify-content: center;

       }

       .portalDaTransferencia>small{
        font-size: 50%;
       }

       .img-logo{
        max-width: auto;
          width:100%;
        }
   }

   @media (max-width:395px){
    .dialog-responsive * {
        font-size: 60%;

    }


   @media (max-width:336px){
    .dialog-responsive * {
        font-size: 55%;

    }
    }
}

