.btn-primary.btn-fill {
    color: #FFFFFF;
    background-color: #1e73be !important;
    border-color: #1e73be !important;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-primary.btn-fill:hover, .btn-primary.btn-fill:focus, .btn-primary.btn-fill:active, .btn-primary.btn-fill.active, .open > .btn-primary.btn-fill.dropdown-toggle {
      background-color: #222 !important;
      border-color: #222 !important;
}

a {
    color: #1e73be;
    outline: none;
}
a:hover {
    color: #1e73be;
    outline: none;
}
