body {
    .site-cover {
        background-position: center center;
        background-size: cover;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
            background: rgba(0,0,0,0.6);
            padding: 1em 2em;
            font-size: 3em;
        }
    }
}
